In [295]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

# Create dataframe

## Create column grouping agencies with fewest calls

In [ ]:
df = pd.read_csv('/Users/sambarrows/Dropbox/Stats/Notes_DL/predict_311/311_Service_Requests_from_2015.csv',
                chunksize=100000, low_memory=False)

In [235]:
d = df.get_chunk(100000)    # nb. will move onto next chunk each time run it, 
                            # so if want same result need to read in df again

# remove white space from column names
d.columns = d.columns.str.replace('\s+', '')

In [236]:
ag = d.groupby('Agency')['UniqueKey'].count().sort_values(ascending=False)
ag

Agency
NYPD     44413
DOT      12934
DPR       8158
HPD       7942
DSNY      7159
DOHMH     5018
TLC       3054
HRA       2754
DCA       2524
DOB       2332
DOF       1423
DEP        865
FDNY       849
EDC        237
DOE        189
3-1-1       65
DOITT       61
DFTA        15
OATH         3
DHS          1
NYCEM        1
CHALL        1
ACS          1
DOC          1
Name: UniqueKey, dtype: int64

In [237]:
agencies = list(ag.index)[:10]
agencies

['NYPD', 'DOT', 'DPR', 'HPD', 'DSNY', 'DOHMH', 'TLC', 'HRA', 'DCA', 'DOB']

In [238]:
# create column giving agency if one of top 15 agencies contacted, or other otherwise
d['KeyAgencies'] = d['Agency'].apply(lambda x: x if x in agencies else 'other')
d.groupby('KeyAgencies')['UniqueKey'].count().sort_values(ascending=False)

KeyAgencies
NYPD     44413
DOT      12934
DPR       8158
HPD       7942
DSNY      7159
DOHMH     5018
other     3712
TLC       3054
HRA       2754
DCA       2524
DOB       2332
Name: UniqueKey, dtype: int64

# Break dataframe into chunks and process

In [239]:
def process_chunk(chunk, agencies):
    c = chunk

    # remove white space from column names
    c.columns = c.columns.str.replace('\s+', '')
    
    # create column giving agency if one of top 15 agencies contacted, or 'other' otherwise
    c['KeyAgencies'] = c['Agency'].apply(lambda x: x if x in agencies else 'other')
        
    # create column giving year-month-day-hour
    c['CreatedHour'] =  pd.to_datetime(c['CreatedDate'], format="%m/%d/%Y %I:%M:%S %p").dt.strftime('%Y-%m-%d-%H')
        
    # group by year-month-day-hour an count calls to each agency
    g = c.groupby(['CreatedHour','KeyAgencies'])['UniqueKey'].count().to_frame()

    # rearrange and tidy dataframe
    g = g.unstack()
    g.columns = g.columns.droplevel()
    del g.index.name
    del g.columns.name
    g.fillna(0, inplace=True)
        
    return g

In [240]:
process_chunk(d, agencies).head()

               DCA  DOB  DOHMH  DOT  DPR  DSNY  HPD  HRA  NYPD  TLC  other
2015-01-01-00  0.0  0.0    0.0  1.0  0.0   0.0  0.0  0.0   5.0  0.0    0.0
2015-01-01-01  0.0  0.0    1.0  0.0  0.0   0.0  0.0  0.0   8.0  3.0    0.0
2015-01-01-02  0.0  0.0    0.0  0.0  0.0   0.0  0.0  1.0   7.0  1.0    0.0
2015-01-01-03  0.0  0.0    0.0  0.0  0.0   0.0  0.0  0.0   2.0  1.0    0.0
2015-01-01-04  0.0  0.0    0.0  0.0  0.0   0.0  0.0  0.0   5.0  1.0    0.0

In [241]:
# read in dataframe again to make sure I don't miss a chunk
df = pd.read_csv('/Users/sambarrows/Dropbox/Stats/Notes_DL/predict_311/311_Service_Requests_from_2015.csv',
                chunksize=100000, low_memory=False)

In [242]:
chunksize = 100000
chunks = []
for chunk in df:
    chunks.append(process_chunk(chunk, agencies))
df = pd.concat(chunks, axis=0)

In [247]:
print len(df)
df.head()

110615

               DCA  DOB  DOHMH  DOT  DPR  DSNY  HPD  HRA  NYPD  TLC  other
2015-01-01-00  0.0  0.0    0.0  1.0  0.0   0.0  0.0  0.0   5.0  0.0    0.0
2015-01-01-01  0.0  0.0    1.0  0.0  0.0   0.0  0.0  0.0   8.0  3.0    0.0
2015-01-01-02  0.0  0.0    0.0  0.0  0.0   0.0  0.0  1.0   7.0  1.0    0.0
2015-01-01-03  0.0  0.0    0.0  0.0  0.0   0.0  0.0  0.0   2.0  1.0    0.0
2015-01-01-04  0.0  0.0    0.0  0.0  0.0   0.0  0.0  0.0   5.0  1.0    0.0

In [254]:
# check if duplicates in index
print len(df)
print len(df.index.unique())

# combine duplicate year-month-day-hour rows
df = df.groupby(level=0).sum()
len(df)

# how many hours in a year?
24*365

8737

In [298]:
# # fill gaps in hours

# # create list to be new index with all hours
# d = datetime.strptime(min(df.index)[:10], "%Y-%m-%d")
# hours = []
# for _ in range(24*364+1):
#     hours.append(d.strftime('%Y-%m-%d-%H'))
#     d = d + timedelta(hours=1)
    
# # confirm min and max of list match index
# print min(df.index)
# print min(hours)
# print max(df.index)
# print max(hours)
# print 
    
# # reindex
# print len(df)
# print len(df.reindex(hours, fill_value=0))   
    
# # in this case not needed - number rows only looked to small because missing last day

In [301]:
# add total column
df['total'] = df[list(df.columns)].sum(axis=1)

In [303]:
# save to .csv
df.to_csv('/Users/sambarrows/Dropbox/Stats/Notes_DL/predict_311/calldat.csv')

# Explore the data